.whyus{
  background-color: #6C898C;
  height: 100vh;
  position: relative;
  display: flex;
  /* align-items: center; */
  overflow: hidden;
}

.whyus__title{
  position: absolute;
  top: 80vh;
  display: flex;
  overflow: hidden;
  z-index: 1000;
}

.whyus__track{
  transform: translateX(80%);
  margin-top: 10vh;
  display: flex;
  height: 70VH;
}

.whyus__wrapper{
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white; 
}
.whyus__image-wrapper{
  background-color: red;
  border: 1px solid white;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10000px;
  overflow: hidden;
  background-color: black;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  .whyus__text-wrapper{
    position: absolute;
    text-wrap: nowrap;
    color: white;

    h3{
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 1.5rem;;
    }
  
    p{
      text-align: center;
      color: white;
      width: 80%;
      margin: auto;
      margin-top: 1rem;
    }
    
  }
}



/* .whyus__text-wrapper{
  position: absolute;
  text-wrap: nowrap;
  
  
} */